<div class="container-fluid">
  <div class="row">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,140,0.2) 0%, rgba(0,36,61,0.4  ) 50%), url('http://www.mrwallpaper.com/wallpapers/Beach-Cocktail-1024x576.jpg');">
      <div class="banner-content">
      <h1>Cocktail Party</h1>
      <p>...by the beach</p>
      <!--     <a class="btn btn-primary btn-lg">GET IT</a> -->
      </div>
    </div>

    <ul class="list-unstyled">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-cocktails" style="background-image:>


        <li class="text-center">
        <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        </li></div>
      </div>
    <% end %>
    </ul>
  </div>
</div>
