.card-cocktails {
  // background-size: cover !important;
  background-color: white;
  color: #FF0080;
  position: relative;
  border-radius: 10px;
  margin: 5%;
  height: 300px;
  background-size: 80% auto;
  background-position:center;
  background-repeat:no-repeat;
}

.card-add-description {
}

.card-cocktail-description {
  background-size: cover;
  margin: 5%;
}
