.card-cocktails {
  // background-size: cover !important;
  background-color: #A3DECD;
  color: #FF0080;
  position: relative;
  border-radius: 10px;
  margin: 5%;
  height: 200px;
  width: 350px;
}

.card-add-description {
}

.card-cocktail-description {
  background-size: cover;
  margin: 5%;
}
